.MainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  align-items: center;
  gap: 1rem;
}

.bottom-btn-holder {
  display: flex;
  gap: 0.3rem;
}

.shuffle {
  width: 4rem;
}
